<h1><%= @flat.name %></h1>

<h5>Address: <%= @flat.description %> </h5>
<h4><%= @flat.address %> </h4>
<h4>Price: <%= @flat.price_per_night %> </h4>
<h4>Good for: <%= @flat.number_of_guests %> guest(s) </h4>

<p><%= link_to "Back to list of flats", flats_path %></p>
